<div class="header">
  <h1 class="brand">CARONTE</h1>
</div>


<div class="bx--grid top">
  <div class="bx--row">
    <div class="bx--col-xs-6">
      <h1> Informacion persona desaparecida</h1>


      <div class="bx--form-item item-form">
        <div class="bx--col-xs-12">
          <label for="text-input-3" class="bx--label">Nombres</label>
          <input id="text-input-3" type="text" class="bx--text-input bx--text-input--light" placeholder="Nombres de desaparecido">
        </div>
      </div>

      <div class="bx--form-item item-form">
        <div class="bx--col-xs-12">
          <label for="text-input-3" class="bx--label">Apellidos</label>
          <input id="text-input-3" type="text" class="bx--text-input bx--text-input--light" placeholder="Apellidos de desaparecido">
        </div>
      </div>

      <div class="bx--form-item item-form">
        <div class="bx--col-xs-12">
          <label for="text-input-3" class="bx--label">Edad</label>
          <input id="text-input-3" type="text" class="bx--text-input bx--text-input--light" placeholder="Edad del desaparecido">


        </div>
      </div>

      <div class="bx--form-item item-form">

        <div class="bx--col-xs-12">



          <label for="text-input-3" class="bx--label">Dirección pérdida </label>
          <input id="text-input-3" type="text" class="bx--text-input bx--text-input--light" placeholder="Donde fue visto/a por ultima vez">
          
           
          
        </div>
      </div>

      <div class="bx--form-item item-form">
        <div class="bx--col-xs-12">
          <div class="bx--form-item">
            <strong class="bx--label">Subir Foto</strong>
            <p class="bx--label-description">Solo archivos con formato .jpg y .png 500kb max.</p>
            <div class="bx--file" data-file>
              <label for="your-file-importer-id-here" class="bx--file-btn bx--btn bx--btn--secondary" role="button"
                tabindex="0">Subir archivo</label>
              <input type="file" class="bx--file-input" id="your-file-importer-id-here" data-file-uploader data-target="[data-file-container]"
                multiple />
              <div data-file-container class="bx--file-container"></div>
            </div>
          </div>


        </div>
      </div>


    </div>

    <div class="bx--col-xs-6">
      <h1>Información de contacto</h1>

      <div class="bx--form-item item-form">

        <div class="bx--col-xs-12">

          <label for="text-input-3" class="bx--label">Nombres </label>
          <input id="text-input-3" type="text" class="bx--text-input bx--text-input--light" placeholder="Nombre del registrante">
        </div>
      </div>
      <div class="bx--form-item item-form">
        <div class="bx--col-xs-12">

          <label for="text-input-3" class="bx--label">Apellidos </label>
          <input id="text-input-3" type="text" class="bx--text-input bx--text-input--light" placeholder="Apellido del registrante">

        </div>

      </div>


      <div class="bx--form-item item-form">

        <div class="bx--col-xs-12">

          <label for="text-input-3 " class="bx--label">Ciudad </label>
          <input id="text-input-3" type="text" class="bx--text-input bx--text-input--light" placeholder="Ciudad del registrante">
        </div>
      </div>

      <div class="bx--form-item item-form">
        <div class="bx--col-xs-12">

          <label for="text-input-3" class="bx--label">Dirección </label>
          <input id="text-input-3" type="text" class="bx--text-input bx--text-input--light" placeholder="Dirección registrante">

        </div>


      </div>

      <div class="bx--form-item item-form">

        <div class="bx--col-xs-12">

          

          <div class="bx--select bx--select--light">
            <label for="select-id" class="bx--label">Estado/Provincia</label>
            <select  id="select-id" class="bx--select-input">
                  <option class="bx--select-option" value="" disabled selected hidden>Escoja su estado o provincia</option>
                  
                  
                      <option class="bx--select-option" value="option1">Option 1</option>
                      <option class="bx--select-option" value="option2">Option 2</option>
                  
                  
            </select>
            <svg class="bx--select__arrow" width="10" height="5" viewBox="0 0 10 5">
              <path d="M0 0l5 4.998L10 0z" fill-rule="evenodd" />
            </svg>
          </div>







        </div>
      </div>

      
      <div class="bx--form-item item-form">
        <div class="bx--col-xs-12">

          <label for="text-input-3" class="bx--label">Zip code </label>
          <input id="text-input-3" type="text" class="bx--text-input bx--text-input--light" placeholder="Escriba su código ZIP">

        </div>


      </div>


      <div class="bx--form-item item-form">

        <div class="bx--col-xs-12">

          <label for="text-input-3" class="bx--label">Phone Number </label>
          <input id="text-input-3" type="text" class="bx--text-input bx--text-input--light" placeholder="Optional placeholder text">
        </div>
      </div>

      <div class="bx--form-item item-form">
        <div class="bx--col-xs-3">

          <label for="text-input-3" class="bx--label">Email (Optional) </label>
          <input id="text-input-3" type="text" class="bx--text-input bx--text-input--light" placeholder="Optional placeholder text">

        </div>


      </div>



    </div>
  </div>

  <div class="bx--row top">
    <div class="bx--offset-xs-5 bx--col-xs-3">
      <button class="bx--btn bx--btn--secondary" type="button">Limpiar</button>
      <button class="bx--btn bx--btn--primary" type="button" enabled>Enviar</button>
    </div>
  </div>
</div>
