<div class="bx--grid top">
  <div class="bx--row header">
    <h1 class="title">Registrar persona</h1>
  </div>

  <div class="bx--row">
    <p>Ingresa los datos de contacto para que puedan ser mostrados en las consultas, <br>
      registrar información errónea puede entorpecer la búsqueda, así que ten cuidado.
    </p>
  </div>

  <hr>

  <form [formGroup]="crearFormGroup">
    <div class="bx--row">
      <div class="bx--col-xs-6">
        <h1>Información desaparecido</h1>

        <div class="bx--form-item item-form">
          <div class="bx--col-xs-12">
            <label for="text-input-3" class="bx--label">Nombres</label>
            <input type="text" class="bx--text-input bx--text-input--light" placeholder="Apellidos de desaparecido"
              formControlName="nombreDesaparecido" required>
          </div>
        </div>

        <div class="bx--form-item item-form">
          <div class="bx--col-xs-12">
            <label for="text-input-3" class="bx--label">Apellidos</label>
            <input type="text" class="bx--text-input bx--text-input--light" placeholder="Apellidos de desaparecido"
              formControlName="apellidoDesaparecido" required>
          </div>
        </div>

        <div class="bx--form-item item-form">
          <div class="bx--col-xs-12">
            <label for="text-input-3" class="bx--label">Edad</label>
            <input type="text" class="bx--text-input bx--text-input--light" placeholder="Edad del desaparecido"
              formControlName="edadDesaparecido" required>
          </div>
        </div>

        <div class="bx--form-item item-form">
          <div class="bx--col-xs-12">
            <label for="text-input-3 " class="bx--label">Ciudad desaparición</label>
            <input type="text" class="bx--text-input bx--text-input--light" placeholder="Ciudad desaparición"
              formControlName="ciudadDesaparicion" required>
          </div>
        </div>

        <div class="bx--form-item item-form">
          <div class="bx--col-xs-12">
            <div class="bx--select bx--select--light">
              <label for="select-id" class="bx--label">País</label>
              <select class="bx--select-input" formControlName="paisDesaparicion">
                <option *ngFor="let pais of paises" class="bx--select-option" [value]="pais">{{pais}}</option>
              </select>
              <svg class="bx--select__arrow" width="10" height="5" viewBox="0 0 10 5">
                <path d="M0 0l5 4.998L10 0z" fill-rule="evenodd" />
              </svg>
            </div>
          </div>
        </div>

        <div class="bx--form-item item-form">
          <div class="bx--col-xs-12">
            <div class="bx--form-item">
              <strong class="bx--label">Subir Foto</strong>
              <p class="bx--label-description">Solo archivos con formato .jpg y .png 500kb max.</p>
              <div class="bx--file" data-file>
                <label for="your-file-importer-id-here" class="bx--file-btn bx--btn bx--btn--secondary" role="button"
                  tabindex="0">Subir archivo</label>
                <input type="file" class="bx--file-input" id="your-file-importer-id-here" data-file-uploader
                  data-target="[data-file-container]" multiple />
                <div data-file-container class="bx--file-container"></div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="bx--col-xs-6">
        <h1>Información de contacto</h1>

        <div class="bx--form-item item-form">
          <div class="bx--col-xs-12">
            <label for="text-input-3" class="bx--label">Nombres </label>
            <input type="text" class="bx--text-input bx--text-input--light" placeholder="Nombre del registrante"
              formControlName="nombreContacto" required>
          </div>
        </div>

        <div class="bx--form-item item-form">
          <div class="bx--col-xs-12">
            <label for="text-input-3" class="bx--label">Apellidos </label>
            <input type="text" class="bx--text-input bx--text-input--light" placeholder="Apellido del registrante"
              formControlName="apellidoContacto" required>
          </div>
        </div>

        <div class="bx--form-item item-form">
          <div class="bx--col-xs-12">
            <label for="text-input-3" class="bx--label">Dirección </label>
            <input type="text" class="bx--text-input bx--text-input--light" placeholder="Dirección registrante"
              formControlName="direccionContacto" required>
          </div>
        </div>

        <div class="bx--form-item item-form">
          <div class="bx--col-xs-12">
            <label for="text-input-3 " class="bx--label">Ciudad </label>
            <input type="text" class="bx--text-input bx--text-input--light" placeholder="Ciudad del registrante"
              formControlName="ciudadContacto" required>
          </div>
        </div>

        <div class="bx--form-item item-form">
          <div class="bx--col-xs-12">
            <div class="bx--select bx--select--light">
              <label for="select-id" class="bx--label">País</label>
              <select class="bx--select-input" formControlName="paisContacto">
                <option *ngFor="let pais of paises" class="bx--select-option" [value]="pais">{{pais}}</option>
              </select>
              <svg class="bx--select__arrow" width="10" height="5" viewBox="0 0 10 5">
                <path d="M0 0l5 4.998L10 0z" fill-rule="evenodd" />
              </svg>
            </div>
          </div>
        </div>

        <div class="bx--form-item item-form">
          <div class="bx--col-xs-12">
            <label for="text-input-3" class="bx--label">Código postal</label>
            <input type="text" class="bx--text-input bx--text-input--light" placeholder="Escriba su código postal"
              formControlName="zipContacto" required />
          </div>
        </div>

        <div class="bx--form-item item-form">
          <div class="bx--col-xs-12">
            <label for="text-input-3" class="bx--label">Número telefónico </label>
            <input type="text" class="bx--text-input bx--text-input--light" placeholder="Ingresa número telefónico"
              formControlName="numeroContacto" required>
          </div>
        </div>

        <div class="bx--form-item item-form">
          <div class="bx--col-xs-3">
            <label for="text-input-3" class="bx--label">Email</label>
            <input type="text" class="bx--text-input bx--text-input--light" placeholder="Email"
              formControlName="emailContacto">
          </div>
        </div>

      </div>
    </div>

    <div class="bx--row top">
      <div class="bx--offset-xs-5 bx--col-xs-3">
        <button class="bx--btn bx--btn--secondary" type="reset">Limpiar</button>
        <button (click)="dataForm()" class="bx--btn bx--btn--primary" enabled>Enviar</button>
      </div>
    </div>

  </form>
</div>

<app-footer></app-footer>
