.header {
  padding: 120px;
  margin-bottom: 50px;
  width: 100%;
  height: 350px;
  background-image: url('../../../assets/img/bg2.jpg');
}

.brand {
  text-align: center;
  font-weight: bold;
  font-size: 5.25rem;
  color: #41d6c3;
}

.bottom{
  margin: 0px 50px;
}
