<div class="bx--grid">

  <div class="bx--row header">
    <h1 class="title">Buscar desaparecido</h1>
  </div>

  <div class="bx--row">
    <p>Sabemos lo difícil que puede ser encontrar un familiar, amigo o conocido que ha desaparecido, <br>
      <strong>Caronte</strong> puede busca en una gran base de datos en tan solo unos segundos.
    </p>
  </div>

  <button class="bx--btn bx--btn--secondary"
  type="button" (click)="findSimilar()" >Test FindSimilar</button>

  <hr>

  <div class="bx--row">
    <div class="bx--col-xs-10">

      <h1>Subir fotografía</h1>
      <app-file-upload></app-file-upload>

    </div>
  </div>

  <!-- <div class="bx--row">
    <div class="bx--col-xs-10" *ngFor="let user of users">
      <pre>{{ user.data | json}}</pre>
    </div>
  </div> -->

</div>

<app-outcome></app-outcome>

<app-footer></app-footer>
