#bgvid {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -100;
    min-width: 100%;
    min-height: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.brand {
  font-weight: bold;
  font-size: 5.25rem;
  color: #41d6c3;
  text-align: center;
}

.sub-title {
  font-size: 1.5rem;
  color: #cdd1d4;
  text-align: center;
  margin: 15px;
}

.center {
  display: flex;
  justify-content: center;
}

#fixed {
  position: fixed;
  left:0px;
  bottom:0px;
  width: 100%;
}
