footer {
  position:fixed;
  left:0px;
  bottom:0px;
  width: 100%;
  height: 48px;
  background-color: #272D33;
  color: white;
  margin-top: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

}
